.RobotItem {
    font-size: 14px;
    .RobotItemCardHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            margin: 0;
        }

        .ActionIcons {
            display: flex;
            justify-content: space-between;
            align-items: center;

            svg {
                cursor: pointer;
            }

            .ExtinguishIcon {
                color: red;
                margin-right: 4px;
            }

            .RecycleIcon {
                color: green;
                margin-left: 4px;
            }
        }
    }

    .RobotItemCardBody {

        p {
            margin-bottom: 4px;
        }


        .Status {
            text-indent: 16px;
        }
    }
}